:root {
  --size-content-md: 960px;
  --size-content-lg: 1220px;
  --size-dialog-sm: 420px;
  --size-dialog-md: 560px;
  --size-popover-md: 360px;
  --size-popover-lg: 460px;
  --size-scroll-sm: 320px;
  --size-scroll-md: 360px;
  --size-control-md: 32px;
  --size-control-lg: 44px;
  --size-scrollbar-width: 8px;
  --size-search-input: 48px;
  --size-search-button: 40px;
  --size-search-input-compact: 30px;
  --size-search-button-compact: 26px;
}
